<h1>Menus#index</h1>
<p>Find me in app/views/menus/index.html.erb</p>

<%= link_to 'New Menu', new_menu_path(@profile) %> 

<h2>Menu list:</h2>
        <div>
        
            
        <% @menus.each do |menu| %>
        
        <ul>
            <li>
            <%= menu.menu_name %>
            
            </li>
        </ul>
        <% end %>
        <div>