<h1>Menus#index</h1>
<p>Find me in app/views/menus/index.html.erb</p>

<div class="container">

    <% if user_signed_in? %>
        <% if current_user.admin? %>
            <%= link_to 'New Menu', new_menu_path, class: "btn btn-warning" %> 
            <%= link_to  'Food Items', fooditems_path, class: "btn btn-warning" %>
        <% end %>
    <% end %>

</div>

<div class="container menubox align-items-center">
    <div class="row">
        <div class="col-md-6">
            <div class="vertical-tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <% @menus.each do |menu| %>
                    <li role="presentation">
                    <%= link_to menu.menu_name, menu_path(menu.id) %>
                    </li>
                    <% end %>
                    
                </ul>

                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <% @menus.each do |menu| %>
                    <div role="tabpanel" class="tab-pane fade" >
                        <%= @menus.name %>
                        
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


<%# <li role="presentation"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Section 1</a></li> %>
    

<%# <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <h3>Section 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius, mi eros viverra massa.</p>
                    </div> %>