<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-5">
                <img src="/bigdonut.png" width="500">
            </div>
            <div class="col-sm-6 pt-5 textbox">
            It is 8am in the morning. You are late to work but you are craving for our delicious donuts. Donut worry! Skip the queue by ordering via our online system.
            </div>
            
        </div>
    </div>
</body>

