<h1>Menus#show</h1>
<p>Find me in app/views/menus/show.html.erb</p>


<div>
    <h1>MENU</h1>
    <p> 
        Menu list:
        <% @menus.each do |menu| %>
        <div>
        <%= menu.menu_name %>
        </div>
        <%end%>
    </p>
</div>