<h1>Menus#show</h1>
<p>Find me in app/views/menus/show.html.erb</p>


    <h1>MENU</h1>
    <p> 
        
        <%= link_to 'Back', menus_path %>
        <div>
        <%= @menu.menu_name %>
        </div>
        
        
    </p>
