/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */


 
 body,
		html {
			/*margin-top: 10px;*/
			padding: 0;
			height: 100%;
			background: #f1f1f1 !important;
		}
		
		.user_card {
			font-family: futura-pt-bold, sans-serif;
			font-weight: 700;
			font-style: normal;
			height: 500px;
			width: 350px;
			margin-top: 50px;
			margin-bottom: auto;
			background: #f39c12;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #f1f1f1;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #5e3a1c !important;
			color: white !important;
			font-family: futura-pt-bold, sans-serif;
			font-weight: 700;
			font-style: normal;

		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #5e3a1c !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}

		/* NAV BAR */

		.alert {
			margin-bottom: 0 !important;
			border-radius: 0 !important;
		  }

		.navbar {
			font-family: futura-pt-bold, sans-serif;
			font-weight: 700;
			font-style: normal;
			font-size: 20px;
			left: 0;
			top: 0;
			padding: 0;
			width: 100%;
			transition: background 0.6s ease-in;
			z-index: 99999;
			background-color: #5e3a1c;
		  }

		  .navbar .navbar-toggler {
			position: relative;
			height: 50px;
			width: 50px;
			border: none;
			cursor: pointer;
			outline: none;
		  }
		  .navbar .navbar-toggler .menu-icon-bar {
			position: absolute;
			left: 15px;
			right: 15px;
			height: 2px;
			background-color: #f39c12;
			opacity: 0;
			-webkit-transform: translateY(-1px);
			-ms-transform: translateY(-1px);
			transform: translateY(-1px);
			transition: all 0.3s ease-in;
		  }
		  .navbar .navbar-toggler .menu-icon-bar:first-child {
			opacity: 1;
			-webkit-transform: translateY(-1px) rotate(45deg);
			-ms-sform: translateY(-1px) rotate(45deg);
			transform: translateY(-1px) rotate(45deg);
		  }
		  .navbar .navbar-toggler .menu-icon-bar:last-child {
			opacity: 1;
			-webkit-transform: translateY(-1px) rotate(135deg);
			-ms-sform: translateY(-1px) rotate(135deg);
			transform: translateY(-1px) rotate(135deg);
		  }
		  .navbar .navbar-toggler.collapsed .menu-icon-bar {
			opacity: 1;
		  }
		  .navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
			-webkit-transform: translateY(-7px) rotate(0);
			-ms-sform: translateY(-7px) rotate(0);
			transform: translateY(-7px) rotate(0);
		  }
		  .navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
			-webkit-transform: translateY(5px) rotate(0);
			-ms-sform: translateY(5px) rotate(0);
			transform: translateY(5px) rotate(0);
		  }
		  .navbar-dark .navbar-nav .nav-link {
			position: relative;
			color: #f39c12;
			font-size: 1.6rem;
		  }
		  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
			color: rgb(241, 139, 139);
		  }
		  .navbar .dropdown-menu {
			padding: 0;
			background-color:#d6d6d6;
		  }
		  .navbar .dropdown-menu .dropdown-item {
			position: relative;
			padding: 10px 20px;
			color: #fff;
			font-size: 1.4rem;
			border-bottom: 1px solid rgba(255, 255, 255, .1);
			transition: color 0.2s ease-in;
		  }
		  .navbar .dropdown-menu .dropdown-item:last-child {
			border-bottom: none;
		  }
		  .navbar .dropdown-menu .dropdown-item:hover {
			background: transparent;
			color: #f39c12;
		  }
		  .navbar .dropdown-menu .dropdown-item::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			top: 0;
			width: 5px;
			background-color: #f39c12;
			opacity: 0;
			transition: opacity 0.2s ease-in;
		  }
		  .navbar .dropdown-menu .dropdown-item:hover::before {
			opacity: 1;
		  }
		  .navbar.fixed-top {
			position: fixed;
			-webkit-animation: navbar-animation 0.6s;
			animation: navbar-animation 0.6s;
			background-color: white;
		  }
		  .navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
			color: #000000;
		  }
		  .navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
			background-color: #c0ca33;
		  }
		  .content {
			padding: 120px 0;
		  }
		  @media screen and (max-width: 768px) {
			.navbar-brand {
			  margin-left: 20px;
			}
			.navbar-nav {
			  padding: 0 20px;
			  background-color: white;
			}
			.navbar.fixed-top .navbar-nav {
			  background: transparent;
			}
		  }
		  @media screen and (min-width: 767px) {
			.banner {
			  padding: 0 150px;
			}
			.banner h1 {
			  font-size: 5rem;
			}
			.banner p {
			  font-size: 2rem;
			}
			.navbar-dark .navbar-nav .nav-link {
			  padding: 23px 15px;
			}
			.navbar-dark .navbar-nav .nav-link::after {
			  content: '';
			  position: absolute;
			  bottom: 15px;
			  left: 30%;
			  right: 30%;
			  height: 1px;
			  background-color: #f39c12;
			  -webkit-transform: scaleX(0);
			  -ms-transform: scaleX(0);
			  transform: scaleX(0);
			  transition: transform 0.1s ease-in;
			}
			.navbar-dark .navbar-nav .nav-link:hover::after {
			  -webkit-transform: scaleX(1);
			  -ms-transform: scaleX(1);
			  transform: scaleX(1);
			}
			.dropdown-menu {
			  min-width: 200px;
			  -webkit-animation: dropdown-animation 0.3s;
			  animation: dropdown-animation 0.3s;
			  -webkit-transform-origin: top;
			  -ms-transform-origin: top;
			  transform-origin: top;
			}
		  }
		  @-webkit-keyframes navbar-animation {
			0% {
			  opacity: 0;
			  -webkit-transform: translateY(-100%);
			  -ms-transform: translateY(-100%);
			  transform: translateY(-100%);
			}
			100% {
			  opacity: 1;
			  -webkit-transform: translateY(0);
			  -ms-transform: translateY(0);
			  transform: translateY(0);
			}
		  }
		  @keyframes navbar-animation {
			0% {
			  opacity: 0;
			  -webkit-transform: translateY(-100%);
			  -ms-transform: translateY(-100%);
			  transform: translateY(-100%);
			}
			100% {
			  opacity: 1;
			  -webkit-transform: translateY(0);
			  -ms-transform: translateY(0);
			  transform: translateY(0);
			}
		  }
		  @-webkit-keyframes dropdown-animation {
			0% {
			  -webkit-transform: scaleY(0);
			  -ms-transform: scaleY(0);
			  transform: scaleY(0);
			}
			75% {
			  -webkit-transform: scaleY(1.1);
			  -ms-transform: scaleY(1.1);
			  transform: scaleY(1.1);
			}
			100% {
			  -webkit-transform: scaleY(1);
			  -ms-transform: scaleY(1);
			  transform: scaleY(1);
			}
		  }
		  @keyframes dropdown-animation {
			0% {
			  -webkit-transform: scaleY(0);
			  -ms-transform: scaleY(0);
			  transform: scaleY(0);
			}
			75% {
			  -webkit-transform: scaleY(1.1);
			  -ms-transform: scaleY(1.1);
			  transform: scaleY(1.1);
			}
			100% {
			  -webkit-transform: scaleY(1);
			  -ms-transform: scaleY(1);
			  transform: scaleY(1);
			}
		}
		.textbox {
			font-family: futura-pt, sans-serif;
			font-weight: 500;
			font-style: normal;
			font-size: 25px;
			color: #5e3a1c;
			margin-top: 140px !important;
			animation: bounce;
			animation-duration: 2s;
		}
		.donut {
			animation: bounce;
			animation-duration: 2s;
		}
	
	
